
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483692351622'); /* IE9*/
  src: url('iconfont.eot?t=1483692351622#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483692351622') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483692351622') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483692351622#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bi:before { content: "\e60a"; }

.icon-fullscreen-exit:before { content: "\e6ac"; }

.icon-jinlingyingcaiwangtubiao44:before { content: "\e7b5"; }

.icon-pc:before { content: "\e613"; }

.icon-advice:before { content: "\e61e"; }

.icon-search:before { content: "\e632"; }

.icon-lock:before { content: "\e63d"; }

.icon-prev:before { content: "\e659"; }

.icon-more:before { content: "\e666"; }

.icon-next:before { content: "\e667"; }

.icon-msg:before { content: "\e66d"; }

.icon-del:before { content: "\e66e"; }

.icon-close:before { content: "\e678"; }

.icon-tuichu:before { content: "\e637"; }

.icon-dingbu:before { content: "\e638"; }

.icon-xiayiye-copy:before { content: "\e656"; }

.icon-geren:before { content: "\e65a"; }

.icon-mima:before { content: "\e65b"; }

.icon-set:before { content: "\e67d"; }

.icon-tongji:before { content: "\e664"; }

.icon-kaiguanclose:before { content: "\e66b"; }

.icon-shouye:before { content: "\e640"; }

.icon-time:before { content: "\e60e"; }

